.table {
  display: block;
  font: .8em Monaco;
}

.row {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  width: 10em;
  height: 10em;
  margin: 0.5em;
  padding: 1px;
  background: #eee;

  // &:hover {
  //   .character {
  //     font-size: 2em;
  //   }
  // }
}

.data {
  display: flex;
  flex: 1;
  align-items: center;

  code {
    width: 100%;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
    background: rgba(black, 0.3);
  }
}

.character {
  font: 4em "Georgia", "Apple Symbols", serif;
  line-height: 1.1;
}

.desc {
  position: absolute;
  display: none;
  text-align: center;
  background: silver;
  color: black;
}
